@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border: 1px solid rgb(92, 91, 91);
  padding: 2%;
  border-radius: 5px;
}

h1 {
  padding-bottom: 3%;
}

.input_1 {
  padding-bottom: 2%;
}
.input_2 {
  padding-bottom: 2%;
}

#list_adder li {
  padding-top: 3%;
  list-style: none;
}
